---
import PageLogo from '../components/PageLogo.astro';

const links = [
	{text: 'Services', to: '/#services-section'},
	{text: 'Projects', to: '/#projects-section'},
	// {text: 'Blog', to: '/blog'},
	{text: 'About me', to: '/about-me'},
	{text: 'Contact', to: '/contact'},
];

const currentPath = Astro.url.pathname;
---

<header class="py-6">
	<nav class="flex justify-between items-center max-w-7xl mx-auto">
		<a href="/" class="text-2xl font-bold text-white tracking-tighter">
			<PageLogo />
		</a>

		<div class="hidden md:flex items-center space-x-8">
			{
				links.map((link) => (
					<a href={link.to} class:list={[
						'hover:text-emerald-400 transition-colors',
						{'font-bold text-white': link.to === currentPath},
						{'font-light text-gray-500 dark:text-gray-400': link.to !== currentPath},
					]}>
						{link.text}
					</a>
				))
			}
		</div>
		<a href="/contact" class="hidden md:inline-block bg-emerald-500 text-white hover:bg-emerald-600 dark:text-slate-950 font-semibold px-5 py-2 rounded-lg dark:hover:bg-emerald-400 transition-colors">
			Get in Touch
		</a>
	</nav>
</header>
