---
interface Props {
	noMargin?: boolean;
	right?: boolean;
	className?: string;
}

const { noMargin, right, className } = Astro.props;
---
<div
	class:list={[
		'flex items-center',
		{ 'my-3': !noMargin },
		'max-w-xs',
	]}
>
	{!right && <slot name="icon"/>}
	<p class={`${className ? className : 'text-black dark:text-white'} flex-1 break-all`}>
		<slot />
	</p>
	{right && <slot name="icon"/>}
</div>