---
import spotifyApi from "../../../api/spotify/spotify-api";

// Generate the authorization URL for Spotify
// const authorizeURL = spotifyApi.authorizeLink();

---

<!-- <h1>
	<a href={authorizeURL} class="text-blue-500 hover:underline">
		Authorize Spotify
	</a>
</h1> -->
ok
