---
import type { Project } from '../../interfaces';
import ProjectCard from './ProjectCard.astro';
import projectsApi from '../../api/projects/projects-api';

const projects: Project[] = await projectsApi.getAllProjects();
---

<section class="w-full">
	<h1
		class="text-center mb-16 text-black dark:text-white font-bold font-arvo text-2xl uppercase"
	>
		Projects
	</h1>
	<div
		class="grid gap-3 mx-3 grid-flow-row sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
	>
		{
			projects.map((project) => {
				return <ProjectCard project={project} />;
			})
		}
	</div>
</section>
